/* Sets the background color, font, and text alignment for the entire page */
body {
  background-color: lightsteelblue;
  font-family: Verdana, "Times New Roman", serif;
  text-align: center;
}

a:link {
  color: #AD201B;
}

/* Changes link color when the user hovers over it */
a:hover {
  color: red;
}

.aboutUs {
  margin-left: 15%;
  margin-right: 15%;
}

.resources {
  margin-left: 15%;
  margin-right: 15%;
}

.techHero {
  margin-left: 15%;
  margin-right: 15%;
}

/* Nav style */
nav {
  background-color: #00004b;
  padding: 20px 0;
  border-bottom: 3px solid white;
}

nav ul {
  list-style: none; 
  display: flex; 
  font-size: 20px; 
  text-decoration: none; 
  font-family: Verdana, "Times New Roman", serif; 
  justify-content: center;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

/* Changes color/font for h1-h4 headings */
h1,
h2,
h3,
h4 {
  color: white;
  font-family: Verdana, "Times New Roman", serif;
}
/* Footer Style */
footer {
  position: relative;
  font-size: 20px;
  padding: 20px;
  bottom: 0;
  color: white;
}

/*teachablemachine */
.machine-link {
  text-align: center;  
  margin: 20px 0; 
}
