body {
  background-color: lightsteelblue;
  font-family: Verdana, "Times New Roman", serif;
  text-align: center;
}

a:link {
  color: #AD201B;
}

a:hover {
  color: red;
}

.aboutUs {
  margin-left: 15%;
  margin-right: 15%;
}

.resources {
  margin-left: 15%;
  margin-right: 15%;
}

.techHero {
  margin-left: 15%;
  margin-right: 15%;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  text-decoration: none;
  font-family: Verdana, "Times New Roman", serif;
  justify-content: center;
  justify-content: center;
  border-bottom: 5px solid white;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-family: Verdana, "Times New Roman", serif;
}

footer {
  position: relative;
  padding: 20px;
  bottom: 0;
  background-color: #A8CDFC;
  margin: 0;
}
