<!--Main website properties-->
body {
  background-color: lightsteelblue;
  font-family: Verdana, "Times New Roman", serif;
  text-align: center;
}

<!--Regular Link Properties-->
a:link {
  color: #AD201B;
}

<!--Hovered Link Properties>
a:hover {
  color: red;
}

<!--Adjusting the alignment of text- About Us section-->
.aboutUs {
  margin-left: 15%;
  margin-right: 15%;
}

<!--Adjusting the alignment of text- Resources section-->
.resources {
  margin-left: 15%;
  margin-right: 15%;
}

<!--Adjusting the alignment of text- Tech Hero section-->
.techHero {
  margin-left: 15%;
  margin-right: 15%;
}

<!--Navigation Bar Settings-->
nav ul {
  list-style: none;
  display: flex;
  font-size: 20px;
  text-decoration: none;
  font-family: Verdana, "Times New Roman", serif;
  justify-content: center;
  justify-content: center;
  border-bottom: 5px solid white;
}

<!--Further nav settings-->
nav ul li {
  display: inline;
  margin: 0 20px;
}

<!--H1-H4 properties-->
h1,
h2,
h3,
h4 {
  color: white;
  font-family: Verdana, "Times New Roman", serif;
}

<!--Footer properties-->
footer {
  position: relative;
  font-size: 20px;
  padding: 20px;
  bottom: 0;
  color: white;
}
